* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: darkblue;
    --height: auto;
    --padding: 10px;
    --width: 150px;
    --rem: 1rem;
}

a {
    color: rgb(3, 3, 109)
}

header,
.grid,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    /* shorthand for white */
}

main {
    max-width: 640px;
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: var(--background-color);
    border-bottom: 1px solid #222;
}

img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
}

aside {
    max-width: 20rem;
    margin: 10px 0;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--rem);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height);
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: var(--padding);
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 0 0 1rem 1rem;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    padding: 2rem 1rem;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main img {
    float: right;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 100px;
}